<!-- Scripts -->
<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrollex.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/skel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/util.js" | prepend: site.baseurl }}"></script>
<!--[if lte IE 8]><script src="{{ "/js/ie/respond.min.js" | prepend: site.baseurl }}"></script><![endif]-->
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
{% include analytics-google.html %}
<script>
    function validateEmail (email) {
        var email = email.replace("%40","@");
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    $('#input-form').submit(function(){
      var email = encodeURIComponent($('#input-email').val());
      if (!validateEmail(email)) {
        <!-- This is validated in the backend too -->
        console.log("fail");
        $('#input-email').addClass('active').val('Invalid Email address');
        $(this)[0].method="";
        return;
      }
      var baseURL = 'https://docs.google.com/forms/d/e/1FAIpQLScYoEOx5XVnRHehPimCypDDbCPCC9AilRXmFPWW4wI9K0vPGw/formResponse?entry.1605253513=';
      var submitRef = '&submit=6309737658475999254';
      var submitURL = (baseURL + email + submitRef);
      console.log("success");
      $(this)[0].method="POST";
      $(this)[0].action=submitURL;
      $('#input-email').addClass('active').val('Thank You!');
      ga('send', 'event', 'outbound', 'click', 'signup', {
        'transport': 'beacon',
        'hitCallback': function(){document.location = "#menu";}
      });
    });
</script>
